@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: #fbe6f5;

    font-family: Roboto, "Helvetica Neue", sans-serif;
}